extends layout



block append body-end
  script.
    const data = window.data = {
      order: !{ JSON.stringify(order) },
      artwork: !{ JSON.stringify(artwork) }
    };
    

  script(src="/javascripts/bundle.js")


block content
  h1 注文 ##{order.ticket}

  p
    a(href="/admin/orders/?state=#{order.order_state}")  #{order.order_state}一覧へ戻る

  table
    tr
      td 整理券番号
      td お客様名
      td Tee サイズ / 数量
      td Sweat サイズ / 数量
      td 日時
      td 状態
    tr
      td= order.ticket
      td= order.cust_name
      td
        - const tee = order.items_sizes.tee;
        - const tee_exist = tee.tee_36 || tee.tee_38 || tee.tee_40 || tee.tee_42 || tee.tee_44;
        if !tee_exist  
          p 注文なし

        table.n
          if tee.tee_36
            tr
              td Tee 36
              td= tee.tee_36
          if tee.tee_38
            tr
              td Tee 38
              td= tee.tee_38
          if tee.tee_40
            tr
              td Tee 40
              td= tee.tee_40
          if tee.tee_42
            tr
              td Tee 42
              td= tee.tee_42
          if tee.tee_44
            tr
              td Tee 44
              td= tee.tee_44
      td
        - const sweat = order.items_sizes.sweat;
        - const sweat_exist = sweat.sweat_36 || sweat.sweat_40 || sweat.sweat_44;
        if !sweat_exist  
          p 注文なし

        table.n
          if sweat.sweat_36
            tr
              td Sweat White 36
              td= sweat.sweat_36

          if sweat.sweat_40
            tr
              td Sweat White 40
              td= sweat.sweat_40

          if sweat.sweat_44
            tr
              td Sweat White 44
              td= sweat.sweat_44

          if sweat.sweat_gray_36
            tr
              td Sweat Gray 36 
              td= sweat.sweat_gray_36

          if sweat.sweat_gray_38
            tr
              td Sweat Gray 38
              td= sweat.sweat_gray_38

          if sweat.sweat_gray_40
            tr
              td Sweat Gray 40
              td= sweat.sweat_gray_40

      td= order.time
      td= order.progressStr

  div(style="position:relative; width:500px; height:700px; margin:0 auto")
    #ArtworkPreview
    a.button(href="#{path.join(url,'print')}" target="_blank") 印刷ページへ

  hr

  if order.order_state != "delivered" 
    form(action="#{path.join(url,'state')}" method="POST")
      button(type="submit" name="order_state" value="delivered") 完了


  if order.order_state != "ordered" 
    form(action="#{path.join(url,'state')}" method="POST")
      button(type="submit" name="order_state" value="ordered") 印刷待ちに戻す

  hr

  if order.order_state != "trash" 
    form(action="#{path.join(url,'state')}" method="POST")
      button(type="submit" name="order_state" value="trash") ゴミ箱に入れる

    

