extends layout

block head-end


block body-end
  script.
    //サーバーからの値の受け渡しはこうするしかない
    //もしくは、SPAにするか
    window.data = {
      artwork: !{ JSON.stringify(artwork) }
    };

  script(src="/javascripts/bundle.js")

block content
  .deviceScreen.--iPadAir2
    .pageLayout
      .pageLayout__topbar
        include ./includes/topbar
        +topbar()
          table.n.topButtons
            tr
              td.topButtons__cell
                a.button.moveButton.--back(href="#{path.join(url,'..')}") 
                  img(src="/images/button_back.png" alt="BACK")
              td.topButtons__cell
                form(method="POST" action="#{url}" style="display:inline-block")
                  button.moveButton.--next(type="submit") 
                    img(src="/images/button_next.png" alt="CHECK")
            
      .pageLayout__content
        .checkPage
          form
            table.n
              tr
                td
                  div(style="position:relative; height:380px;")
                    #ArtworkTee
                td
                  div(style="position:relative;  height:380px; ")
                    #ArtworkSweat

                  
              tr
                td
                  table.n
                    tr
                      td 36
                      td 38
                      td 40
                      td 42
                      td 44
                    tr
                      td #{order && order.items_sizes.tee.tee_36}
                      td #{order && order.items_sizes.tee.tee_38}
                      td #{order && order.items_sizes.tee.tee_40}
                      td #{order && order.items_sizes.tee.tee_42}
                      td #{order && order.items_sizes.tee.tee_44}

                td
                  table.n
                    tr
                      td 36
                      td 40
                      td 44
                    tr
                      td #{order && order.items_sizes.sweat.sweat_36}
                      td #{order && order.items_sizes.sweat.sweat_40}
                      td #{order && order.items_sizes.sweat.sweat_44}

            hr.space 

            table.n
              tr
                td 整理券番号<br>Ticket number
                td #{order.ticket}
                  
                td お客様名<br> Your name
                td #{order.cust_name}
